*{
	margin: 0;
	height: 0;
	font-family: sans-serif,Verdana ,Microsoft JhengHei;
}
.hb{
	display: none;
      position: absolute;
      height: 3px;
      width: 28px;
      background-color: #000;
      top: 30px;
      right:30px;
      bottom: 0;
      box-shadow: 0px 10px 0px #000,0px -10px 0px #000;
      cursor: pointer;
}
.hbdiv{
	width: 100%;
	height: 30px;
	background-color: #fff;
	display: none;
	
}
#menu_control{
	opacity: 0;
	position: absolute;
	top: -100000;
}
@media screen and (max-width: 414px){
	.logo{
		width: 160px;
		height: 40px;
		top:10px;
		z-index: 200;
	}
	.hb{
		display: block;
		z-index: 100;
		box-shadow: 0px 10px 0px #000 ,0px -10px 0px #000;
		cursor: pointer;
	}
	.hbdiv{
	display: block;
	height: 61px;
		background-color: #fff;
		z-index: 100;
}
    #menu_control:checked ~ .top{
    	top:55px;
    	transition: .5s;
    }
	.all{
		width: 100%;
	}
.top{
	height: 25%;
	background-color: #fff;
	width:100%;
	position: absolute;
	top:-30%;
	left: 0;
	z-index: 100;
}

.top ul{
	display: block;
	width: 35%;
	list-style: none;
	text-align: center;
	margin: auto;

}
.top ul li{
	width: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
	line-height: 100px;
}
.top a{
	color: #222;
	font-size: 16px;
}
.top a:hover{
	border-bottom: 1px solid #222;
}
.banner img{
	width: 250%;
	height: 110vh;
	filter:brightness(.7);
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	text-align: center;
	opacity: 0;
}
.banner{
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 100vh;
	background-image: url('../img/26.jpg');
	background-size: cover;
	background-position: center;


}
.banner span{
	color: rgba(252,236,210,1);
	position: absolute;
	top: 400px;
	left: 10%;
}
.banner h1{
	font-size: 48px;
}
.banner p{
	font-size: 18px;
	width: 200px;
}

.singin{
	height: 500px;
	display: block;
	margin: auto;
	width: 90%;
	margin: auto;
	padding-top: 15px;
}
.singintext{
	width: 100%;

}
.signinform{
	margin: 0px;
	margin-top: 80px;
}
.singin h1{
	margin-bottom: 50px;
	color: #222;
}
.singin a{
	color: #666;
	margin: 0;
}
.singin a:hover{
	color:#0080ff;
	transition: .5s;
}
.singin p{
	margin-top: 150px;
	padding: 10px;
	width: 90%;
}
.singin input[type=text],.singin input[type=password]{
	display: block;
	outline: none;
    background: none;
	border:none;
	border-bottom: 1px solid #666;
	width: 300px;
	height: 40px;
	font-size: 16px;
}
.btn{
	margin-top: 20px;
	width: 300px;
	height: 40px;
	text-align: center;
	font-family: sans-serif;
	background-color: #222;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	border:2px solid #222;
}
.btn:hover{
	opacity: .8;
	transition: .5s;
}


.contact{
	width: 100%;
	height: 200px;
	background-color: #222;
	color: #fff;

}
.contact div{
	padding-top: 30px;
	margin-left: 30px;
	font-size: 16px;

}

.contact footer{
	text-align: center;
	line-height: 250px;
}



}